
#menu ul li{
  display: inline;
  cursor: pointer;
  padding:15px;
   
}

#menu ul li a{
     text-decoration:none; 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




